<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Garantiefalls Sleeve Creator</title>
		
		<th:block th:insert="fragments/header :: header" />
		
		<link rel="stylesheet" th:href="@{/css/sleeve.css}" />
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"></nav>
	
		<main role="main" class="container">
			<!-- KONVA -->
			<div class="starter-template border">
				<h3>Sleeve Creator</h3>
				<div id="drop-area">
					<form class="form" th:action="@{/sleevecreator}" method="post" enctype="multipart/form-data">
						<p>Choose or drag and drop an image onto the dashed region. (max. 10MB)</p>
						<input type="file" id="fileSelector" name="fileSelector" onchange="$('#submitImage').removeAttr('disabled')"> 
						<input type="submit" id="submitImage" class="mt-2 form-control btn btn-primary" value="Start" disabled/>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>